@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Generated pallete from: https://coolors.co/f7f7ff-4d8b31-dde8b9-181617-ff8427 */
:root {
  --YKCL-01: rgb(247,247,255); /* White #f7f7ff */
  --YKCL-02: rgb(77,139,49); /*Dark Green #4d8b31 */
  --YKCL-03: rgb(54,97,34); /*Light Green #366122 */
  --YKCL-04: rgb(42,41,43); /* Black 1 #2a292b */
  --YKCL-05: rgb(29,29,30); /*Black 2 #1d1d1e */
  --YKCL-06: rgb(255,132,39); /* Digital Fox orange #ff8427 */
  --FTFCP:"Bebas Neue",Sans-serif;
  --FTFCS:"Roboto Condensed",Sans-serif;
  --FTFCM:"Roboto Mono",Monospace;
}

body {
  font-family: var(--FTFCS);
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--FTFCP);
}
pre,code {
  font-family: var(--FTFCM);
}
img,svg,video {
  max-width: 100%;
  overflow-x: scroll;
}
hr {
  border: 1px solid var(--YKCL-01);
}

/* Classes */

.yk-body {
  background-color: var(--YKCL-04);
  color: var(--YKCL-01);
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  background-image: url('img/BG_WEB_MOB.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.yk-cntbg {
  backdrop-filter: blur(0.5rem) grayscale(75%);
  padding: 1em 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.yk-nav {
  background-color: var(--YKCL-02);
  color: var(--YKCL-01) !important;
  font-family: var(--FTFCP);
  max-width: 100vw;
  height: 3em;
}
.yk-nav .yk-navb {
  color: var(--YKCL-01) !important;
}
.yk-nav .yk-logo {
  height: 1em;
  margin-right: 0.25em;
}
.yk-footer {
  background-color: var(--YKCL-02);
  height: 3.25em !important;
  font-family: var(--FTFCP);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.yk-footer .ykfooterb {
  color: var(--YKCL-01);
}
.yk-card {
  background-color: var(--YKCL-05);
  color: var(--YKCL-01);
  border-radius: 0px;
  border: none;
  margin-bottom: 0.25rem;
}
.yk-card-header {
  background-color: var(--YKCL-04);
  border-radius: 0px !important;
  border-bottom: 1px solid var(--YKCL-04);
  padding: 0.25rem 0.5rem;
}
.yk-card-body {
  border-radius: 0px !important;
  padding: 0.25rem 0.5rem;
}
.yk-card-footer {
  background-color: var(--YKCL-04);
  border-radius: 0px !important;
  border-top: 1px solid var(--YKCL-04);
  padding: 0.25rem 0.5rem;
}
.btn-bgyk {
  min-height: 36vh;
  width: 100%;
  border-radius: 0px;
  padding: 0.25em 0.5em;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: 0.25s ease-in-out;
  color: var(--YKCL-01);
  background-color: var(--YKCL-02);
  border: 1px solid var(--YKCL-01);
}
.btn-bgyk-txt {
  padding: 0px;
  margin: 0px;
}
.btn-bgyk:hover {
  color: var(--YKCL-03);
  border: 1px solid var(--YKCL-03);
  background-color: var(--YKCL-05) !important;
}
.btn-bgyk:active, 
.btn-bgyk:focus {
  color: var(--YKCL-02);
  border: 1px solid var(--YKCL-02); 
  background-color: var(--YKCL-05);
  box-shadow: none;
  outline: none;
}
.btn-bgyk-1 {
  background-image: url('img/BG_FICO.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.btn-bgyk-2 {
  background: linear-gradient(transparent,rgba(29,29,30,1)),url('img/BG_PLU.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn-bgyk-3 {
  background: linear-gradient(transparent,rgba(29,29,30,1)),url('img/BG_HUB.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn-bgyk-4 {
  background-image: url('img/BG_FICN.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media (min-width:990px) {
  .btn-bgyk {
    min-height: 80vh;
  }
  .yk-body {
    background-image: url('img/BG_WEB_DESK.jpg');
  }
}