@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=M+PLUS+Code+Latin:wght@300;400;500;600;700&display=swap");

:root {
    --yk-primary: #4d8b31;
    --yk-border: #d8d8d8;
}

body {
    font-family: "M PLUS Code Latin", monospace;
    color: var(--bs-body-color);
    background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.yk-brand,
.yk-menu-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* NAVBAR */

.yk-navbar {
    background: #fff;
    border-bottom: 1px solid var(--yk-border);
}

.yk-brand {
    display: flex;
    align-items: center;
    gap: .75rem;

    font-weight: 700;
    color: var(--yk-primary);
}

.yk-menu-btn {
    width: 44px;
    height: 44px;

    border: 1px solid var(--yk-border);
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--yk-primary);
    font-size: 1.4rem;
}

.yk-menu-btn:hover {
    background: #f7f7f7;
}

/* OFFCANVAS */

.offcanvas {
    border-left: 1px solid var(--yk-border);
}

.list-group-item {
    border-left: 0;
    border-right: 0;
}

.list-group-item i {
    color: var(--yk-primary);
}

.yk-menu-title {
    color: var(--yk-primary);
    font-weight: 700;
}

.list-group-item small {
    color: #666;
}

/* MAIN */

.yk-main > * {
    position: relative;
    z-index: 1;
}

.yk-main {
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.yk-main-bg {
    position: relative;
    overflow: hidden;

    background-image: url('img/bg-landscape.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.yk-main-bg::before {
    content: "";

    position: absolute;
    inset: 0;

    background:
        radial-gradient(
            ellipse at center,
            transparent 40%,
            rgba(0,0,0,.12) 100%
        );

    pointer-events: none;
}
.yk-main-bg::after {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(0,0,0,.15);

    pointer-events: none;
}
@media (orientation: portrait) {
  .yk-main-bg {
    background-image: url('img/bg-portrait.jpg');
    background-attachment: scroll;
  }
}

.yk-error-page {
    min-height: calc(100vh - 250px);
}

/* BUTTONS */

.yk-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: .75rem 1rem;

    border: 1px solid var(--yk-border);

    background: #fff;
    color: #222;
}

.yk-btn:hover {
    background: #f7f7f7;
}

.yk-btn-primary {
    background: var(--yk-primary);
    border-color: var(--yk-primary);
    color: #fff;
}

.yk-btn-primary:hover {
    background: #41752a;
    color: #fff;
}

/* LINKS */

.yk-footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.yk-footer-links a:hover {
    color: var(--yk-primary);
}

/* FOOTER */

.yk-footer {
    background: var(--yk-primary);
    color: #fff;

    padding: 3rem 0;
}

.yk-footer a {
    color: #fff;
}

.yk-footer .yk-footer-links a:hover {
    opacity: .8;
}